*{
    padding: 0;
    box-sizing: border-box;
    
}
#bell{

    background-color: rgb(157, 166, 174);
    display: flex;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 30px;
    box-shadow: 10px;
}
#bell:hover{
    background-color: aqua;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes rotation{
    from {
        transform:rotate(30deg);
        background-color: white;
    }
    to{
        transform: rotate(-30deg);
        background-color:aqua;
    }
}
.cat{
    background-color: white;
    display: flex;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 30px;
    box-shadow: 10px;
}
.cat:hover{
    background-color:white;
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes loading{
    from {
        transform: translate(0);
        background-color: white;
    }
    to{
        transform: translate(100vw);
        background-color: black;
    }
}