*{    padding: 0;
    box-sizing: content-box;
    text-transform: capitalize;
}

#flowers{
    display:flex;
    height: 50vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.flower-1{
    order: 4;
    
}
.flower-2{
    order: 3;
      
}
.flower-3{
    order: 2;
}

.name{
    height: 50px;
    /* width: 120px; */
    background-color: aqua;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    color: #fff;
}
#names{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3 100px);
    grid-template-rows: repeat(3 100px);
    align-content: space-between;
}